<div class='titleBar chrome'>
	<div class='actions left'>
    	<a data-trigger='one'>
    		<i class='{{triggerOneIcon}}'></i>
    	</a>
  	</div>
	<div class='title'>{{title}}</div>
	<div class='actions right'>
    	<a data-trigger='one'>
    		<i class='{{triggerTwoIcon}}'></i>
    	</a>
  	</div>
</div>