<div class='titleBar'>
	<div class='actions left'>
    	<a class='trigger one'>
    		<i class='{{triggerOneIcon}}'></i>
    	</a>
  	</div>
	<div class='title'>{{title}}</div>
	<div class='actions right'>
    	<a class='trigger two'>
    		<i class='{{triggerTwoIcon}}'></i>
    	</a>
  	</div>
</div>